<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers at {{company_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="https://careers-website.sd614apps.repl.co/static/images/careers-website-icon.ico">
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://careers-website.sd614apps.repl.co/static/images/banner.jpg" />
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Careers at {{company_name}}
      </h1>
      <div class="row" style="margin-bottom: 16px;">
        <div class="col-7">
          <p class="lead">
            At {{company_name}}, our mission is to help businesses and individuals achieve their goals through the power of technology. We specialize in building user-friendly web and mobile-based apps that streamline processes, increase efficiency, and enhance user experience. Our team is dedicated to delivering high-quality solutions that meet our clients' needs and exceed their expectations. We strive to build long-lasting relationships with our clients by providing exceptional service and ongoing support. At our core, we are driven by innovation, creativity, and a passion for solving complex challenges with simple, elegant solutions.
          </p>
        </div>
        <div class="d-none d-md-block col-5">
          <img src="/static/images/people.jpg" style="height:320px;border-radius: 4px;" />
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Job Openings</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <div class="text-center">
        <a href="mailto:hello@sd614apps.com?subject=Query%20about%20Job%20Openings&body=My%20name%3A%20%3Cyou%20name%20here%3E%0D%0A%0D%0AMy%20query%3A%20%3Center%20query%20here%3E%0D%0A" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>